<div class="table-container">
  <!-- Search Field -->
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search users</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search by name, last name or country" #searchInput
      [readonly]="isLoading()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <!-- Loading Spinner -->
  @if (isLoading()) {
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
  }

  <!-- Table -->
  @if (!isLoading()) {
  <div class="table-wrapper">
    <table mat-table [dataSource]="usersDataSource()" multiTemplateDataRows class="mat-elevation-z8 fade-in">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="center-cell headers-table">Name</th>
        <td mat-cell *matCellDef="let user">{{user.name}} {{user.lastname}}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef [hidden]="isMobile()" class="center-cell headers-table">Email</th>
        <td mat-cell *matCellDef="let user" [hidden]="isMobile()">{{user.email}}</td>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef [hidden]="isMobile()" class="center-cell headers-table">Country</th>
        <td mat-cell *matCellDef="let user" [hidden]="isMobile()">{{user.country}}</td>
      </ng-container>

      <!-- Enable Column -->
      <ng-container matColumnDef="enable">
        <th mat-header-cell *matHeaderCellDef [hidden]="isMobile()" class="center-cell headers-table">Status</th>
        <td mat-cell *matCellDef="let user" class="center-cell" [hidden]="isMobile()">
          <mat-chip class="status-chip" [ngClass]="{ 'active': user.enable, 'inactive': !user.enable }">
            {{user.enable ? 'Active' : 'Inactive'}}
          </mat-chip>
        </td>
      </ng-container>

      <!-- Updated At Column -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef [hidden]="isMobile()" class="center-cell headers-table">Last update</th>
        <td mat-cell *matCellDef="let user" class="center-cell" [hidden]="isMobile()">
          {{user.updatedAt | date: 'dd/MM/yyyy HH:mm:ss'}}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="center-cell headers-table" [hidden]="isMobile()">Actions</th>
        <td mat-cell *matCellDef="let user" class="center-cell" [hidden]="isMobile()">
          <button mat-mini-fab color="primary" class="edit-button" (click)="openEditUserDialog($event, user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" class="delete-button" (click)="openDeleteUserDialog($event, user)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="seeDetails">
        <th mat-header-cell *matHeaderCellDef class="center-cell headers-table" [hidden]="!isMobile()">See Details</th>
        <td mat-cell *matCellDef="let element" class="center-cell" [hidden]="!isMobile()">
          <mat-icon>
            {{ expandedElementId() === element.id ? 'expand_less' : 'expand_more'}}
          </mat-icon>
        </td>
      </ng-container>

      <!-- Mobile details -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns().length" class="row-detail-expanded">
          <div class="user-details-container" [class.expanded]="element.id === expandedElementId()"
            [@detailExpand]="element.id === expandedElementId() ? 'expanded' : 'collapsed'">
            <!-- User details -->
            <div class="detail-user">
              <div class="detail-grid">
                <div class="detail-label">
                  <strong>Region:</strong>
                </div>
                <div class="detail-value">{{element.region}}</div>

                <div class="detail-label">
                  <strong>Country:</strong>
                </div>
                <div class="detail-value">{{element.country}}</div>

                <div class="detail-label">
                  <strong>Status:</strong>
                </div>
                <div class="detail-value">
                  <mat-chip class="status-chip" [ngClass]="{ 'active': element.enable, 'inactive': !element.enable }">
                    {{element.enable ? 'Active' : 'Inactive'}}
                  </mat-chip>
                </div>

                <div class="detail-label">
                  <strong>Email:</strong>
                </div>
                <div class="detail-value">{{element.email}}</div>

                <div class="detail-label">
                  <strong>Updated:</strong>
                </div>
                <div class="detail-value">{{element.updatedAt | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
              </div>
            </div>

            <!-- Divider -->
            <mat-divider></mat-divider>

            <!-- User actions -->
            <div class="actions-user">
              <span class="editing-title">Actions</span>

              <div class="actions-container">
                <div class="action" (click)="openEditUserDialog($event, element)">
                  Edit User
                  <mat-icon color="primary">edit</mat-icon>
                </div>

                <div class="action" (click)="openDeleteUserDialog($event, element)">
                  Delete User
                  <mat-icon color="warn">delete</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- No Data Row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">
          <div class="no-data-message">
            @if (searchInput.value) {
            No results found for "{{searchInput.value}}"
            } @else {
            No users created
            }
          </div>
        </td>
      </tr>

      <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns()" [class.expanded-row]="expandedElementId === row.id"
        (click)="expandDetailRow(row)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-row"></tr>
    </table>
  </div>
  }
</div>